


.container {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

#div1 {
    width: 200px;
    height: 200px;
    background-color: red;
    display: block;
}

#div2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: none;
}

#div3 {
    width: 200px;
    height: 200px;
    background-color: green;
    display: none;
}


.btnstyle1 {
    background-color: green;
}

.btnstyle2 {
    background-color: yellow;
}

.btnstyle3 {
    background-color: pink;
}

.btnostyle {
    background-color: white;
}